# Environment
NODE_ENV=development

# Frontend
FRONTEND_ORIGIN=http://localhost:5173

# Admin
ADMIN_EMAILS=admin@vasarella.com

# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=mailserver

# Session
SESSION_SECRET=your-secret-key

# Server
PORT=3001